# Homework 4 - pandas Molly McVicar 
### due 3/1/2022   

Use this notebook and prompts to complete the homework. Throughout there will be hints and some code provided  

### Things you will need:  
- Install os, NumPy, pandas  
- states_covid.csv  
- Bloom_etal_2018_Reduced_Dataset.csv  
- logfiles.tgz (or some other multiple file dataset)  

*NOTE*: Make sure your PATH is correct  

**import packages & check required datasets**

In [2]:
import os
import numpy as np
import pandas as pd

In [46]:
PATH = 'YOUR/PATH/HERE' #CHANGE

In [4]:
assert os.path.exists(os.path.join(PATH,'states_covid.csv')), 'states_covid.csv does not exist'

In [5]:
assert os.path.exists(os.path.join(PATH,'Bloom_etal_2018_Reduced_Dataset.csv')), 'Bloom_etal_2018_Reduced_Dataset.csv does not exist'

## Task 1 - DataFrame manipulation  

Using **states_covid.csv**, we are going to read the data in as a DataFrame to manipulate, subset, and filter in various ways.   

### Task 1.1 

Read in states_covid.csv with date as a "date" dtype, and only columns consisting of the hospitalization (4 col), ICU (2 col), and Ventilators (2 col)

In [29]:
#!/usr/bin/env python3
import pandas as pd

covids_df = pd.read_csv('states_covid.csv') # read in file

new_covids_df = covids_df[['date','hospitalized','inIcuCumulative','onVentilatorCumulative']] # read in specific columns 
print(new_covids_df) # print in terminal

             date  hospitalized  inIcuCumulative  onVentilatorCumulative
0      2021-02-23        1260.0              NaN                     NaN
1      2021-02-23       45250.0           2632.0                  1497.0
2      2021-02-23       14617.0              NaN                  1505.0
3      2021-02-23           NaN              NaN                     NaN
4      2021-02-23       57072.0              NaN                     NaN
...           ...           ...              ...                     ...
20103  2020-01-17           NaN              NaN                     NaN
20104  2020-01-16           NaN              NaN                     NaN
20105  2020-01-15           NaN              NaN                     NaN
20106  2020-01-14           NaN              NaN                     NaN
20107  2020-01-13           NaN              NaN                     NaN

[20108 rows x 4 columns]

### Task 1.2 

For each of the following catergories: *currently* hospitalized, *currently* in the ICU, and *currently* on ventilation...  
Find the 5 states with the greatest numbers in each catergory and list them in order.      
*hint*: sort_values, unique

In [28]:
#!/usr/bin/env python3
import pandas as pd

covids_df = pd.read_csv('states_covid.csv', usecols=['state', 'hospitalizedCurrently', 'inIcuCurrently', 'onVentilatorCurrently']) # read in csv file and specific columns

covids_sub_df = covids_df[['state', 'hospitalizedCurrently', 'inIcuCurrently', 'onVentilatorCurrently']] # sort by specific columns 
covid_state = covids_sub_df.groupby(['state'],as_index=False).mean() #group columns by state column                          
covid_state.nlargest(5, ['hospitalizedCurrently', 'inIcuCurrently', 'onVentilatorCurrently']) # 5 states with greatest number in each category

   state  hospitalizedCurrently  inIcuCurrently  onVentilatorCurrently
5     CA            7749.398204     1948.476048                    NaN
47    TX            6251.187879     2274.571429                    NaN
10    FL            4829.707424             NaN                    NaN
37    NY            4506.904070     1107.038806             449.324232
16    IL            2965.941176      687.046440             368.229102

### Task 1.3 

Find the date in which each state crossed 1000 cumulative hospitilized covid patients

In [97]:
#!/usr/bin/env python3
import pandas as pd

hospitals = pd.read_csv('states_covid.csv', usecols=['date','state', 'hospitalizedCumulative']) # read in csv and columns to be used
hospitals_sub = hospitals.groupby(['date', 'state', 'hospitalizedCumulative'],as_index=False).mean() # group columns date, state, and cumulative hospitalizations
hospitals_sub[hospitals_sub.hospitalizedCumulative > 1000] # dates with hospitalizations above 1000

## could not get one per state ##

hospitals_sub = hospitals.groupby('date')['state','hospitalizedCumulative'].agg(['unique']) # tried to aggregate columns for unqiue ID with this, didn't allow me

             date state  hospitalizedCumulative
41     2020-03-21    NY                  1531.0
55     2020-03-22    NY                  2354.0
69     2020-03-23    NY                  3125.0
87     2020-03-24    NY                  4041.0
106    2020-03-25    NY                  5126.0
...           ...   ...                     ...
12430  2021-02-23    UT                 14520.0
12431  2021-02-23    VA                 23698.0
12432  2021-02-23    WA                 19110.0
12433  2021-02-23    WI                 25838.0
12434  2021-02-23    WY                  1373.0

[9303 rows x 3 columns]

## Task 2 - DataFrame summarizing  

Using **Bloom_etal_2018_Reduced_Dataset.csv**, we are going to do more dataframe manipulation and subsetting and summarizing    

### Task 2.1 

Read in Bloom_etal_2018_Reduced_Dataset.csv and create two new columns ('genus','species') that consists of the column *taxa* split at the underscore. Print out the head of this new dataframe and the number of unique genera**     

*hint:* pd.str.split(,expand=True)  

for example:  

| taxa | genus | species   
| :------ | :-- | :---   
| Alosa_alabamae | Alosa | alabamae

In [133]:
import pandas as pd

bloom_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv') # read in csv file 
newbloom = pd.DataFrame(bloom_df.taxa.str.split('_',1).tolist(),
                         columns = ['genus','species']) # seperate genus and species 
print(newbloom.head()) # print out first 5 of genus and species seperate columns
genera = len(pd.unique(newbloom['genus'])) # number of unique genera

print("No.of.unique genera :",genera) # print above command

## was not able to keep taxa column, kept getting "columns must be the same length as key" error and could not find code to fix this

   genus         species
0  Alosa        alabamae
1  Alosa           alosa
2  Alosa          fallax
3  Alosa       mediocris
4  Alosa  pseudoharengus
No.of.unique genera : 34

### Task 2.2 

Create a new dataframe with the mean *logbodysize* and *trophicposition* of each genera. Sort this data frame by the largest body size. Print the head of this dataframe.

In [177]:
## due to not being able to add split columns to past data set, I had to use normal data set and do by taxa and not genus specifically ##

bloom_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv') # read in csv file 
largest_df = bloom_df.sort_values(["logbodysize"], ascending=False).iloc[:,[0,1,2]].head() # data frame sorting by descending body size, showing taxa, logbodysize, and trophic_position, and the first 5
print(largest_df) # print above code

                 taxa  logbodysize  trophic_position
5   Alosa_sapidissima     1.790285          0.544068
1         Alosa_alosa     1.778151          0.556303
2        Alosa_fallax     1.778151          0.556303
3     Alosa_mediocris     1.778151          0.612784
48   Tenualosa_ilisha     1.778151          0.462398

Which genera is the smallest and largest?

In [178]:
## like I said above, I could not seperate out genera properly in the main dataframe, so this is what I would do below ##

bloom_df = pd.read_csv('Bloom_etal_2018_Reduced_Dataset.csv') # read in csv file

bloom_df['taxa'].unique() # unique taxa sorting
bloom_size_df = newbloom.groupby('logbodysize',as_index=True).agg(['genus']) # associate genus and log body size
print(bloom_size_df.nsmallest(1, ['logbodysize'])) # smallest genus
print(bloom_size_df.nlargest(1, ['logbodysize'])) # largest genus

KeyError: 'taxa'

What is the trophic position of the smallest and largest?

In [153]:
import pandas as pd

print(bloom_df.nsmallest(1, ['trophic_position'])) # smallest in trophic_position column
print(bloom_df.nlargest(1, ['trophic_position'])) # largest in trophic_position column

                      taxa  logbodysize  trophic_position             Reg
21  Cetengraulis_edentulus     1.113943          0.322219  non-diadromous
                 taxa  logbodysize  trophic_position             Reg
36  Pellona_harroweri     1.113943          0.623249  non-diadromous

## Task 3 - Read in muliple files to a dictionary and make a DataFrame - **OPTIONAL/BONUS**  

### This is not something you are expected to do in this course, but just here to give you an idea of the things that you COULD do. Answers will be posted after due date.  


Using **logfiles**: we are going to do read in each file, get some data, append it to a dictionary to later make into a dataframe.     

**note:** *make sure to unzip logfiles*

In [20]:
cd $PATH

/Users/trevorfaske/Desktop/Classes/DataScience/pandas/Spring22

In [21]:
!tar -xzf logfiles.tgz #unzip logfiles

In [22]:
log_dir = os.path.join(PATH,'logfiles')
assert os.path.exists(log_dir), 'log_dir does not exist'

First step is to find the necessary files. The number of files in the log files is 36, make sure you have that many as well

In [23]:
!ls -l logfiles/*txt | wc -l

      36

In [24]:
logfiles = !find $log_dir -name '*txt' #unix command to find files in log_dir directory
logfiles = [os.path.abspath(x) for x in logfiles] #this finds the full path to the file
print(logfiles[1])

/Users/trevorfaske/g/Classes/DataScience/pandas/Spring22/logfiles/1901302121_H8_S_14.txt.txt

In [25]:
assert(len(logfiles)==36), 'Do not have correct number of logfiles'

### Getting a little tricky here  

Read in each of the logfiles, for each file extract:  
- minimum temperature  
- maximum temperature  
- date of minimum temp   
- date of maximum temp   
- mean temp for each file.   

This data should all be appended for a dictionary within a for loop:    
Key should be the file name without the path or .txt extension  
Values should be (minTemp,maxTemp,minDate,maxDate,meanTemp)

I recommend making this work for one file first, then putting the rest in a for loop to do the rest.  

Below is an example of how to read in one file

*hint:* do not read date in as date object

In [41]:
### set up data frame as you read in each file
infile = pd.read_csv(logfiles[0],sep='\t',engine='python')
infile.columns = ['Index','Date','Time','Temp','Type']
infile = infile[['Date','Time','Temp']]
infile.head()

        Date         Time  Temp
0  9/16/2013   8:00:00 AM  47.9
1  9/16/2013   8:35:00 AM  48.2
2  9/16/2013   9:10:00 AM  48.7
3  9/16/2013   9:45:00 AM  49.4
4  9/16/2013  10:20:00 AM  50.3

Do everything in steps, make sure it works. Calculate summaries with this one infile:

In [26]:
minTemp =   
maxTemp =  
minDate = infile['Date'][infile['Temp'] == infile['Temp'].min()].unique()[0] #use this for minDate 
maxDate = infile['Date'][infile['Temp'] == infile['Temp'].max()].unique()[0] #use this for maxDate 
meanTemp =

SyntaxError: invalid syntax (<ipython-input-26-d888355c2242>, line 1)

To get you started, I suggest writing some dummy code in plain words to help outline your for loop:

In [ ]:
logfiles_dict = {}  
for f in logfiles:  
    #do something   
    #do not read date in as date object  
    #do more something   
    #do other stuff  
    #make print statements EVERYWHERE  
    #append to dict  
    #blahbahblah

Then do the real code below here. You don't need to turnin your thoughts. Just put it in there as a help reminder. Most people all still do this, no matter how advanced they are

**Once you have created a DataFrame with all the logfiles, print the head and save it to an outfile using pd.to_csv() as logfiles_df.csv**

#### Here is an example of the final product

In [32]:
logfiles_df.head()

                     minTemp  maxTemp     minDate    maxDate   meanTemp
1901302235_H6_S_14      21.3     65.8   12/6/2013  7/13/2014  35.726191
1901302121_H8_S_14      17.9     73.4  10/28/2013  7/13/2014  34.698866
1901302217_H18_D_14     21.0     82.4  10/28/2013  7/26/2014  33.334564
1901302110_H13_S_14     22.8     60.9   10/4/2013  7/13/2014  32.240032
1901302146_H14_D_14     24.6     66.1   1/21/2014  7/13/2014  34.242075